.resultados {
 margin-bottom: 0;
 display: inline-block;
}

.BOTON {
 text-align: center;
}

#calcular {
  background-color: green;

}
#datos0, #datos1, #datos2, #datos3, #datos4, #datos5, #datos6, #datos7, #datos8, #datos9{
  font-family: monospace;
  white-space: pre;
}

.CAJA-tasas{
  border:1px solid beige;
  border-radius: 10px;
  padding: 15px;
  width: 650px;
  margin-top: 10px;
  box-shadow: 5px 5px 10px black;
  /*display: flex;
  flex-direction: row;*/
  }
.CAJA-tasas input{
  width: 75px;
  height: 15px;
}  

.CAJA-cheques{
  border:1px solid beige;
  border-radius: 10px;
  padding: 15px;
  width: 650px;
  margin-top: 10px;
  box-shadow: 5px 5px 10px black;
  }

.CAJA-resultados{
border:1px solid beige;
border-radius: 10px;
padding: 15px;
width: 650px;
margin-top: 10px;
box-shadow: 5px 5px 10px black;
}